h1 {
    color: white;
    font-family: Arial;
    font-size: 5em;
}

header {
    height: 450px;
    width: 850px;
    background: url(../img/nasa-background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}
