h1 {
    color: white;
    font-family: Arial;
    font-size: 5em;
}

header {
    height: 450px;
    width: 850px;
    background: url(../img/nasa-background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

main {
    height: 324px;
    width: 850px;
    background-color: #CCC;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
